@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

article img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/mobile/image-header.jpg");
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding: 40px 20px;
  position: relative;
}
header nav .logo img {
  width: 90%;
}
header nav .main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  padding: 45px 20px;
  background-color: #fff;
  clip-path: polygon(94% 9%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 9%, 40% 9%);
  display: none;
}
header nav .main-nav li {
  padding: 20px 0;
  font-size: 18px;
}
header nav .main-nav li:last-of-type {
  background-color: #fad400;
  padding: 10px 22px;
  border-radius: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
header nav .show {
  display: flex;
}
header .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .hero h1 {
  padding: 40px 20px;
  color: white;
  text-align: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 900;
}

.services .transform-stand div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px 20px;
  text-align: center;
}
.services .transform-stand div h3 {
  width: 80%;
}
.services .transform-stand div P {
  padding: 30px 0;
  line-height: 1.7;
  width: 33ch;
  font-weight: 600;
}
.services .transform-stand div a {
  color: inherit;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #fad400;
}
.services .transform-stand:nth-child(2) a {
  text-decoration-color: #fe7867;
}
.services .graphic-photography {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: url("../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.services .graphic-photography:last-of-type {
  background: url("../images/mobile/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials h2 {
  padding-top: 45px;
  text-transform: uppercase;
  color: #a7abae;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}
.testimonials article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px 20px;
}
.testimonials article img {
  border-radius: 100%;
  width: 55px;
}
.testimonials article p {
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
  color: #5a636c;
  line-height: 1.5;
  width: 30ch;
}
.testimonials article h4 {
  font-weight: 900;
  padding-bottom: 10px;
}
.testimonials article small {
  color: #a7abae;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery div {
  flex: 50%;
}
.gallery div img {
  width: 100%;
  display: block;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 45px;
  background-color: #458c7e;
  height: 50vh;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
footer ul li {
  color: #25564b;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
footer ul li:hover {
  color: white;
}
footer article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
}
footer article img {
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
