$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyanTxt: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$cyanFooter: hsl(168, 34%, 41%);



$VeryDarkBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);


$sectionPaddingMob: 20px;
$articlePaddingMob: 45px;